.delivery {
  &__title {
    display: inline-flex;
    justify-content: center;
    align-self: flex-start;
    position: relative;
    margin-bottom: 25px;
    margin-top: 50px;

    &-content {
      font-weight: bold;
      font-size: 30px;
      color: #282828;
      position: absolute;
      bottom: -1px;
    }

    & .title-line {
      width: 282px;
    }
  }

  &__content {
    padding-right: 20px;
    &-item {
      padding-left: 7px;

      &-title {
        font-weight: bold;
        font-size: 20px;
        color: #2F2F2F;
        margin-bottom: 5px;
      }

      &-text {
        margin-top: 15px;
        font-size: 15px;
        line-height: 22px;
      }

      &-list {
        &_item {
          list-style: disc;
          margin-left: 22px;
          font-size: 15px;
          margin-bottom: 5px;
        }
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &:first-child {
        padding-left: 3px;
        margin-bottom: 30px;
      }
    }
  }
}