.slider {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 55px 0 50px;
  overflow: hidden;
  margin-bottom: 80px;

  & .swiper-pagination-bullet {
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 2px solid #5052A2;
    outline: none;

    &-active {
      background-color: #5052A2;
    }
  }

  & .swiper-button-prev {
    left: 100px;
    top: 411px;
    z-index: 1000;
    outline: none;

    &:after {
      content: url("../../build/img/svg/slider-arrow-l.svg");
    }
  }

  & .swiper-button-next {
    right: 100px;
    top: 411px;
    z-index: 1000;
    outline: none;
    &:after {
      content: url("../../build/img/svg/slider-arrow-r.svg");
    }
  }

  & .swiper-slide {

  }

  &__content {

    &-item {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__navigation {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    &-point {
      box-sizing: border-box;
      width: 15px;
      height: 15px;
      background-color: transparent;
      border: 2px solid #5052A2;
      border-radius: 50%;

      &.selected {
        background-color: #5052A2;
      }

      //&:first-child {
      //  margin-left: 25px;
      //}
      //
      //&:last-child {
      //  margin-right: 25px;
      //}

      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    &-arrow {
      &_left {
        margin-right: 25px;
      }

      &_right {
        margin-left: 10px;
      }

      //&:first-child {
      //
      //}
      //
      //&:last-child {
      //
      //}
    }
  }
}