.slider {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 55px 0 80px;
  overflow: hidden;

  &__content {
    display: flex;
    justify-content: center;

    &-item {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__navigation {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    &-point {
      box-sizing: border-box;
      width: 15px;
      height: 15px;
      background-color: transparent;
      border: 2px solid #5052A2;
      border-radius: 50%;

      &.selected {
        background-color: #5052A2;
      }

      //&:first-child {
      //  margin-left: 25px;
      //}
      //
      //&:last-child {
      //  margin-right: 25px;
      //}

      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    &-arrow {
      &:first-child {
        margin-right: 25px;
      }

      &:last-child {
        margin-left: 10px;
      }
    }
  }
}