@import 'navbar-desktop';
@import 'hero-desktop';
@import 'delivery-index-desktop';
@import 'breadcrumb-desktop';
@import 'contacts-desktop';
@import 'delivery-desktop';
@import 'product-desktop';
@import 'filter-desktop';
@import 'products-desktop';
@import 'categories-desktop';
@import 'top-products-desktop';
@import 'new-products-desktop';
@import 'about-desktop';
@import 'guaranties-desktop';
@import 'unit-desktop';
@import 'callback-desktop';
@import 'footer-desktop';

@media (min-width: 1000px) {
  .container {
    padding: 0 50px;
  }

  .title-line {
    height: 33px;
  }

  .button_yellow {
    & img {
      margin-right: 15px;
    }
  }
}
