@media (min-width: 1000px) {
  .footer {
    &__content {
      flex-direction: row;
      justify-content: space-between;
    }

    &__navigation {
      &-category {
        text-align: left;
      }
    }

    & .button_purple {
      transform: translateY(140px);
    }
  }
}