@media (min-width: 1000px) {
  .new-products {
    padding: 0 100px;

    .circle {
      display: inline-block;

      &.purple {
        top: -50px;
        right: 0;
        transform: translateX(50%);
      }

      &.yellow {
        bottom: 0;
        left: 0;
        transform: translateX(-50%);
      }
    }

    &__title {
      & h1 {
        font-size: 80px;
        bottom: 5px;
      }

      & .title-line {
        width: 370px;
      }
    }

    & .slider {
      margin-top: 50px;
      padding: 0 100px 50px;

      & .swiper-button-next {
        top: 411px;
        right: 500px;
      }

      & .swiper-button-prev {
        top: 411px;
        left: 500px;
      }
    }
  }
}