@import 'reset';

* {
  font-family: 'Geometria', sans-serif;
  outline: none;
}

body {
  background-color: #f6f7fa;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  &_yellow {
    border: none;
    background: #FFDD55;
    border-radius: 36.5px;
    outline: none;
  }

  &_purple {
    border: none;
    background: #5052A2;
    border-radius: 36.5px;
    outline: none;
  }
}

.title-line {
  border-radius: 20px;
  height: 13px;

  &.yellow {
    background-color: rgba(255, 221, 85, .56);
  }

  &.purple {
    background-color: rgba(80, 82, 162, .56);
  }
}

@import 'sections/all';