* {
  font-family: 'Geometria', sans-serif;
}

body {
  background-color: #f6f7fa;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  &_yellow {
    border: none;
    background: #FFDD55;
    border-radius: 36.5px;
    outline: none;
  }

  &_purple {
    border: none;
    background: #5052A2;
    border-radius: 36.5px;
    outline: none;
  }
}

@import 'reset';
@import 'sections/all';